/* General */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img{
    max-width:100px;
}

.container, .row{
    max-width:1200px;
    margin: 0 auto;
}

.row::after{
    clear:both;
    display:table;
    content:"";
    margin:40px;
}

/* header style */
h1, p, a{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.container> p{
    margin-bottom:30px;
    margin-top:30px;
    padding:10px;
}

h1{
    font-family: 'Nerko One', cursive;
    font-size: 36px;
    color:rgb(223, 32, 96);
}
/* main style */

.column{ 
    width: calc(100%/3- 20px);  
    min-width:350px;  
    background-color: black;
    float:left;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 2px 2px 4px #000000;
}

.column > .info{
    color:white;
    text-align: left;
    display: inline-block;
    margin-top:7px;
    margin-left:10px;
}

.info > p, address{
    line-height: 30px;
    text-align:left;
    font-weight: bold;
}

.work{
    font-size:15px;
    text-decoration: none;
    font-style: normal;
    font-weight: lighter;
}

.imgs{
    max-width: 100px;
    display:inline;
    float:left;
}
a{
    color:rgb(102, 170, 215);
    font-size: 16px;
    font-style: normal;
    text-decoration: none;
    font-weight: lighter;
}

